.app-inspection__container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.app-inspection__container:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
